<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="axios.js"></script>
</head>
<body>
    <div class="container">
        <div class="navbar">
         <ul>
           <li><a routerLink="">HOME</a></li> 
           <li><a routerLink="gallery">GALLERY</a></li> 
           <li><a routerLink="admission">ADMISSION</a></li> 
        </ul>
        </div>
</div>
</body>
</html>
